
/* =====================================
   GESTION PRO V3
   SIDEBAR PREMIUM
===================================== */


/* Logo */

.sidebar h2{

    display:flex;

    align-items:center;

    gap:10px;

    color:white;

    letter-spacing:.3px;

}



/* Navigation */

.sidebar nav button{

    position:relative;

    display:flex;

    align-items:center;

    gap:12px;

    color:#cbd5e1;

    font-weight:500;

    overflow:hidden;

}



/* Barre active */

.sidebar nav button.active{

    background:var(--primary);

    color:white;

}



/* Effet hover */

.sidebar nav button:hover{

    color:white;

    transform:translateX(5px);

}



/* Petite animation */

.sidebar nav button::before{

    content:"";

    position:absolute;

    left:0;

    top:0;

    height:100%;

    width:4px;

    background:transparent;

    transition:var(--transition);

}



.sidebar nav button:hover::before{

    background:var(--primary);

}



.sidebar nav button.active::before{

    background:white;

}



/* Zone basse sidebar */

.sidebar-footer{

    position:absolute;

    bottom:25px;

    left:20px;

    right:20px;

    padding-top:20px;

    border-top:1px solid rgba(255,255,255,.15);

    color:#94a3b8;

    font-size:13px;

}
