*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f6f9;
    padding:20px;
}

.container{
    max-width:1200px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:25px;
    color:#2c3e50;
}

.formulaire{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    margin-bottom:20px;

    display:grid;
    gap:10px;
}

input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    padding:12px;
    border:none;
    border-radius:8px;
    background:#27ae60;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

.stats{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin-bottom:20px;
}

.stats div{
    background:white;
    padding:20px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.stats span{
    display:block;
    margin-top:10px;
    font-size:24px;
    font-weight:bold;
}

table{
    width:100%;
    background:white;
    border-collapse:collapse;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

th{
    background:#34495e;
    color:white;
    padding:12px;
}

td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

.supprimer{
    background:#e74c3c;
    padding:8px 12px;
}

.benefice{
    color:green;
    font-weight:bold;
}

.perte{
    color:red;
    font-weight:bold;
}

@media(max-width:768px){

table{
    display:block;
    overflow-x:auto;
}

.stats{
    grid-template-columns:1fr;
}

}