/* ===============================
   LAYOUT APPLICATION
================================ */

.app-layout{
    display:flex;
    min-height:100vh;
}


/* SIDEBAR */

.sidebar{

    width:260px;
    height:100vh;

    position:fixed;
    left:0;
    top:0;

    background:#111827;
    color:white;

    padding:25px;

    z-index:1000;

}


/* CONTENU */

.main-content{

    margin-left:260px;

    width:calc(100% - 260px);

    min-height:100vh;

    padding:30px;

}


/* TOPBAR */

.topbar{

    width:100%;

    background:white;

    padding:20px;

    border-radius:15px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}



/* CONTAINER */

.container{

    width:100%;

    padding-top:30px;

}



/* SECTIONS */

.page-section{

    width:100%;

}



/* MOBILE */

@media(max-width:900px){

.sidebar{

    width:80px;

}


.main-content{

    margin-left:80px;

    width:calc(100% - 80px);

}


}


@media(max-width:600px){

.sidebar{

    display:none;

}


.main-content{

    margin-left:0;

    width:100%;

}

}
